.navbar-fixed-top {
  top: 215px;
  position: absolute;
}

.header-jumbotron {
  background: #446e9b; color: #FFF; margin: 0;
  top: 0;
  margin-bottom: 150px;
  height: 215px; 
}

/*.members {
  position: fixed;
  left: 0;
  top: 300px;
  width: 300px;
}*/

@media screen and (max-width: 1400px) {
    .members {
        display: none !important;
    }
}

body{
  padding-top: 0 !important;;
}

div.row-striped:nth-of-type(even){
  background: #7b99b8; color: #fff;
}
div.row-striped:nth-of-type(even) :-webkit-any(p, h1, h2, h3)  {color: #fff;}
div.row-striped:nth-of-type(even) :-moz-any(p, h1, h2, h3)  {color: #fff;}
div.row-striped:nth-of-type(even) a              {color: #dddddd;}

div.row-striped:nth-of-type(odd){
  background: #fff; color: #111;
}
div.row-striped:nth-of-type(odd) :-webkit-any(p, h1, h2, h3)  {color: #111;}
div.row-striped:nth-of-type(odd) :-moz-any(p, h1, h2, h3)  {color: #111;}
div.row-striped:nth-of-type(odd) a              {color: #333;}

body > div.container-fluid.main-container .well {
  background: #fff;
  color: #7b99b8;
}

body > div.container-fluid.main-container .well a {
  color: #7b99b8;
}

.main-container{
  max-width: auto;
}