.navbar-fixed-top {
  top: 215px;
  position: absolute;
}

.header-jumbotron {
  background: #446e9b; color: #FFF; margin: 0;
  top: 0;
  margin-bottom: 105px;
  height: 215px; 
}

/*.members {
  position: fixed;
  left: 0;
  top: 300px;
  width: 300px;
}*/

@media screen and (max-width: 1400px) {
    .members {
        display: none !important;
    }
}

body{
  padding-top: 0 !important;;
}

div.container-fluid.main-container > div:nth-of-type(even) {
    background: #7b99b8;
    color: #fff;
}

div.container-fluid.main-container > div:nth-of-type(even) p, h1, h2, h3 {/*color: #fff;*/}

div.container-fluid.main-container > div:nth-of-type(even) a {color: #dddddd;}

body > div.container-fluid.main-container .well {
  background: #fff;
  color: #7b99b8;
}

body > div.container-fluid.main-container .well a {
  color: #7b99b8;
}

.main-container{
  max-width: auto;
}