.navbar-fixed-top {
  top: 215px;
  position: absolute;
}

.header-jumbotron {
  background: #446e9b; color: #FFF; margin: 0;
  top: 0;
  margin-bottom: 105px;
  height: 215px; 
}

/*.members {
  position: fixed;
  left: 0;
  top: 300px;
  width: 300px;
}*/

@media screen and (max-width: 1400px) {
    .members {
        display: none !important;
    }
}

body{
  padding-top: 0 !important;;
}

div.container-fluid.main-container > div:nth-of-type(even) {
    background: rgba(68,110,155,.2);
}

.main-container{
  max-width: auto;
}